<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item title" href="{{pathFor 'Public_Landing_Page'}}"><h1>MANOA Munchies</h1></a>
      <!--{{#if currentUser}}-->
      <a class="{{ isActiveRoute 'User_Profile_Page'}} item" href="{{ pathFor 'User_Profile_Page' }}">Profile</a>
      <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">Faves</a>
      <a class="{{ isActiveRoute 'Vendor_Page'}} item" href="{{ pathFor 'Vendor_Page' }}">Vendors</a>
      <!--{{/if}}-->
      <!--<a href="#" class="item">{{> loginButtons }} </a>-->
    </div>
  </div>
</template>