<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">

      <a class="item title" href="{{pathFor 'Public_Landing_Page'}}"><h1>MANOA Munchies</h1></a>
      <!--{{#if currentUser}}-->
      <a class="{{ isActiveRoute 'Vendors_Page'}} item" href="{{ pathFor 'Vendors_Page' }}"> <i class="food icon"></i>Vendors</a>
      <a class="{{ isActiveRoute 'User_Profile_Page'}} item" href="{{ pathFor 'User_Profile_Page' }}"> <i class="heart icon"></i>Faves</a>
      <a class="{{ isActiveRoute 'Admin_Home_Page'}} item" href="{{ pathFor 'Admin_Home_Page' }}"> <i class="edit icon"></i>Manage</a>

      <!--{{/if}}-->
      <!--<a href="#" class="item">{{> loginButtons }} </a>-->
    </div>

  </div>
</template>